<ol class="entry-list">
  {%- for pub in site.data.publications -%}
    <li class="entry pub">
      <span class="entry-date">{{ pub.year }}</span>
      <div class="entry-body">
        <span class="entry-title">{% if pub.html %}<a href="{{ pub.html }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %}</span>
        <span class="entry-desc">{{ pub.venue }}</span>
        <div class="pub-links">
          {%- if pub.pdf %}<a href="{{ pub.pdf }}">PDF</a>{% endif -%}
          {%- if pub.code %}<a href="{{ pub.code }}">Code</a>{% endif -%}
          {%- if pub.abstract and include.abstracts %}
            <details>
              <summary>Abstract</summary>
              <p>{{ pub.abstract }}</p>
            </details>
          {%- endif %}
        </div>
      </div>
      <span class="entry-tag">{{ pub.type }}</span>
    </li>
  {%- endfor -%}
</ol>
